<div class="container">
    <article class="user-card">
        <figure class="user-card__avatar-container">
            <img class="user-card__avatar" src="{{student.imageUrl}}" alt="user avatar" />
        </figure>
        <h3 class="user-card__name">{{student.firstName}} {{student.lastName}}</h3>
        <h4 class="user-card__username">{{student.id}}</h4>
    </article>
    <a href="/students">Back to Students Page</a>
</div>