<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/index.css' />
</head>

<body>
  <div class="wrapper">
    <header class="main-header">
      <h1 class="main-header__title">We Can Code IT</h1>
      <nav>
        <ul>
          <li><a href="/assignments">Assignments</a></li>
          <li><a href="/cohorts">Cohorts</a></li>
          <li><a href="/students">Students</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="main-footer">
      <small class="main-footer__copy">&copy; WCCI 2019</small>
    </footer>
  </div>
</body>

</html>
